*{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          font-family: 'DM Sans', sans-serif;
          border: 0;
}

.landing {
          background-image: url("../img/pngtree-this-is-an-animation-of-a-house-over-the-water-picture-image_2739027.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 100vh;
}

.campaign {
          background-color: grey;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
}

.showcase {
          padding: 20px 99.6px;
}
      
.header {
          background-color: #ffffff;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 20px;
          position: fixed;
          width: 90%;
         
}
      
.header ul {
          display: inline-flex;
}
      
.header li {
          padding: 24px;
}
      
.header a {
          color:black;
          font-size: 15px;
          text-decoration: none;
          font-weight: 900;
}     
 
.writ-up h1{
          padding-top: 90px 90px;
}
h1{
          padding-top: 100px;
          size: 70px 50px;
          text-align: center;
          color:blue;
          font-size: 200%;
}
p{
          text-decoration: black;
          font-family: 'Times New Roman', Times, serif;
          font-size: 700%;
}
h2{
          font-size: 400%;
          color: #ffffff;
          text-align: center;
}
strong{
color: blue;
}